<div class="row">
  <div class="sort-bar">
    <form action="/" method="GET">
      <select class="form-select form-select-lg " name="" id="" aria-label="Default select example" onchange="this.form.submit()">
        <option selected>類別</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </form>
  </div>
</div>

<div class="row mt-3 total-amount-session">
  <div class="col-sm-4 total-amount-title">總金額</div>
  <div class="col-sm total-amount mt-3 mt-sm-0">
    <p class="total-amount-number">20000</p>
    <p class="total-amount-unit ms-2">NTD</p>
  </div>
</div>

<div class="records-session mt-5">
  {{!-- {{#each}}
  {{/each}} --}}
    <div class="row record-item mb-3">
      <div class="icon"><i class="fa-solid fa-pen"></i></div>
      <div class="title">
        <div class="name">Name</div>
        <div class="date">2022/12/25</div>
      </div>
      <div class="amount">80</div>
      <div class="buttons ms-3">
        <a href="/records/{{id}}/edit" class="btn btn-primary">修改</a>
        <form action="/records/{{id}}" method="POST">
          <button class="btn btn-danger ms-2" type="submit">刪除</button>
        </form>
      </div>
    </div>

</div>

<form action="/records/new" method="GET" class="bg-white pt-3 pb-5 new-account-bar">
  <div class="d-grid gap-2 col-12 col-sm-6 mx-auto">
    <button class="btn btn-success new-account-btn" type="button">新增支出</button>
  </div>
</form>